<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tasteforming.mapper.MainMapper">

	<select id="getAllData"
		resultType="com.tasteforming.domain.RestaurantVO">
	 		<![CDATA[SELECT * FROM restaurant WHERE res_no > 0]]>
	</select>
	<update id="updateReview" parameterType="long">
		UPDATE RESTAURANT SET REVIEWCNT = (SELECT COUNT(USERID) FROM RESTAURANT_REVIEW WHERE RESTAURANT_REVIEW.RES_NO = RESTAURANT.RES_NO)
	</update>
<select id="getByAddress" resultType="com.tasteforming.domain.RestaurantVO" parameterType="java.util.List">
  SELECT * FROM RESTAURANT
  <where>
    <if test="list != null and list.size() > 0">
      AND 
        <foreach item="item" index="index" collection="list" separator="AND">
        <![CDATA[
          (ADDRESS LIKE '%'|| #{item}|| '%')
          ]]>
        </foreach>
      
    </if>
  </where>
</select>





<!-- 	
	<select id="getAllData"
		resultType="com.tasteforming.domain.RestaurantVO">
	 		<![CDATA[SELECT * FROM restaurant WHERE (address like '%' || #{region} ||'%')]]>
	</select> -->

	<select id="read" resultType="com.tasteforming.domain.RestaurantVO">
		select * from restaurant where res_no = #{res_no}
	</select>
	<select id="getSearch" resultType="com.tasteforming.domain.RestaurantVO">
  <![CDATA[ 
  select res_no, res_name, address, info, menu, type, img_path , likeCnt, reviewcnt
  from (select res_no, res_name, address, info, menu, type, img_path,likeCnt, reviewcnt
        from restaurant 
        where (address like '%' || #{keyword} || '%')
        or (menu like '%' || #{keyword} || '%')
        or (res_name like '%' || #{keyword} || '%')
        or (type  like '%' || #{keyword} || '%'))
  ]]>
</select>

<!-- 
	<select id="getListWithPaging"
		resultType="org.zerock.domain.BoardVO">
		
	<![CDATA[
    select bno, title, writer, regdate, updatedate, replyCnt
    from (
      select /*+INDEX_DESC(tbl_board pk_board)*/
      rownum rn, bno, title, content, writer, regdate, updatedate, replyCnt
      from tbl_board
      where 
  ]]>

		<include refid="criteria"></include>
	
  	<![CDATA[
  		rownum <= #{pageNum} * #{amount}
  		)
  	where rn > (#{pageNum} -1) * #{amount}
  	]]>

	</select> -->
</mapper>


