::-webkit-scrollbar {
    display: none;
}

.hgIRgy {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.Location__Popup__Layer{
	display:none;
}


.hgIRgy .Location__Selection__Popup__Wrap {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.hgIRgy .Location__Popup__Box {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 604px;
    height: 85vh;
    max-height: 843px;
    padding: 25px 29px;
    border-radius: 16px;
    box-shadow: rgba(54, 54, 54, 0.5) 0px 3px 8px 0px;
    background-color: rgb(255, 255, 255);
}

.hgIRgy .Location__Popup__Header {
    position: relative;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 32px;
}

.hgIRgy .Location__Popup__Header .Location__Popup__Title {
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: -0.0688rem;
}

.hgIRgy .Location__Popup__Header .Location__Popup__Close {
	border:0;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 28px;
    height: 28px;
    background-color: transparent;
}

.hgIRgy .Location__Popup__Header .Location__Popup__Close .Location__Popup__Close__Image {
    width: 18px;
    height: 18px;
}

.hgIRgy .Location__Popup__Main {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
    max-height: 791px;
    margin-top: 25px;
}

.hgIRgy .Location__District__Header {
    display: flex;
    width: 100%;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-width: 2px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 82, 116) rgb(234, 234, 234) rgb(234, 234, 234);
    border-image: initial;
}

.hgIRgy .Location__District__Header .District__Header__Title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 192px;
    height: 42px;
    padding-left: 21px;
    font-size: 0.9375rem;
    font-weight: 500;
    letter-spacing: -0.0469rem;
    color: rgb(32, 32, 32);
}

.hgIRgy .District__List__Box {
    display: flex;
    width: 100%;
    overflow-y: hidden;
    border-left: 1px solid rgb(234, 234, 234);
    border-right: 1px solid rgb(234, 234, 234);
    border-bottom: 1px solid rgb(234, 234, 234);
}

.hgIRgy .District__List:first-child {
    width: 164.3px;
}

.hgIRgy .District__List {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 192px;
    height: 100%;
    border-right: 1px solid rgb(234, 234, 234);
}

.hgIRgy .District__Item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
}

.hgIRgy .District__Item__Button__Img {
    width: 6px;
    height: 11px;
}

.hgIRgy .District__Item__Button {
    border: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 6px 12px 7px 14px;
    border-radius: 7px;
    font-size: 0.9375rem;
    letter-spacing: -0.0469rem;
    color: rgb(32, 32, 32);
    background-color: #ffffff;
    justify-content: space-between;
}

.hgIRgy .District__Item__Button:hover {
    font-weight: bold;
}

.hgIRgy .Location__Popup__User__Confirm {
    display: flex;
    gap: 12px;
    padding-top: 21px;
}

.hgIRgy .Location__Popup__User__Confirm .Location__Popup__Cancle {
    border: 1px solid rgb(196, 196, 196);
}

.hgIRgy .Location__Popup__User__Confirm button {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    transition: all 0.3s ease-in-out 0s;
    border-radius: 6px;
    border: 1px solid rgb(25, 183, 194);
}


.hgIRgy .Location__Popup__User__Confirm .Location__Popup__Cancle span {
    color: rgb(196, 196, 196);
}


.hgIRgy .Location__Popup__User__Confirm button span {
    padding-bottom: 2px;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.0437rem;
    color: rgb(25, 183, 194);
}

.Location__Popup__Cancle:hover {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
    transition: 0.3s;
}

.Location__Popup__Submit:hover {
    background-color: rgb(25, 183, 194);
    transition: 0.3s;
    cursor: pointer;
}

button.Location__Popup__Submit:hover span {
    color: white;
}

.hgIRgy .Location__Popup__User__Confirm .Location__Popup__Cancle:hover span {
    color: white;
}

.hgIRgy .District__List:last-child {
    border-right: none;
}

.hgIRgy .Location__District__Header .District__Header__Title:first-child {
    width: 162px;
}


.hgIRgy .District__List {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 220px;
    height: 100%;
    border-right: 1px solid rgb(234, 234, 234);
}

.hgIRgy .Super__Keyword {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
}

.hgIRgy .Region__Column__Super__Img {
    position: relative;
    top: 2px;
    width: 9px;
    height: 16.3px;
}



.now {
    font-weight: 500;
    background-color: rgb(12, 75, 117) !important;
    color: rgb(255, 255, 255) !important;
}