.bg {
	background-color: #f0f0f0;
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.container-wrap {
	min-height: auto;
	padding: 20px 0px 50px 0px;
	overflow: hidden;
	max-width: 1200px;
	position: relative;
	margin: auto;
}

.subleft-cont {
	position: absolute;
	margin-top: 110px;
	width: 220px;
	float: left;
	height: 282px;
	background-color: #fff;
	left: 15px;
	top: 20px;
}

.header-container {

	padding: 20px;
	width: 660px;
	margin: 110px auto 0;
	background-color: #fff;
}

.food_img {
	width: 620px;
	height: 330px;
	margin-bottom: 28px;
}

.detail_resName {
	font-size: 35px;
	color: #222228;
	line-height: 44px;
	font-weight: 600;
	letter-spacing: -0.095px;
	margin-bottom: 15px;
}

.res_menu {
	font-size: 16px;
	color: #66666e;
	line-height: 100%;
	margin-bottom: 20px;
}

.favor-pic-appra {
    padding-top: 15px;
    overflow: hidden;
    font-size: 0px;
    overflow: auto;
    margin-left: auto; /* 수정된 부분 */
    display: flex;
}
.favor-pic-appra button:last-child {
  margin-left: auto;
}


.heart-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 4px;
    background: url(/resources/img/emptyLike.png) left center no-repeat;
    vertical-align: middle;
    transition-duration: .3s;
}

#ckb_auto{
	display:none;
}
.favor-pic-appra button {
display: inline-block;
    line-height: 36px;
    padding: 2px 18px 0px 18px;
    border: 1px solid #fff;
    margin-right: 10px;
    
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
}

.sharebutton{
	margin-left:10px;
}

button:active {
	background-color: #f0f0f0;
	border-color: #222228;
	color: #222228;
	font-weight: 900;
}

button:hover {
	background-color: #ff0000;
	border-color: #ff0000;
	color: #fff;
	transition: 0.3s;
}

.reserve {
    display: none;
}

.reserveBtn{
	float: right;
}

.info-container {
	padding: 20px;
	width: 660px;
	margin: 20px auto 0;
	background-color: #fff;
}

.info-container p {
	margin-bottom: 15px;
}

.menu-container {
	padding: 20px;
	width: 660px;
	margin: 40px auto 0;
	background-color: #fff;
}

.menu-container p {
	margin-top: 20px;
	margin-bottom: 15px;
}

.review_box {
	padding: 20px;
	width: 660px;
	margin: 40px auto 0;
	background-color: #fff;
}

.review-title {
	font-size: 24px;
	color: #222228;
	line-height: 120%;
	margin-bottom: 20px;
	font-weight: 600;
}

.review-content {
	margin: 20px auto 0;
	width: 100%;
	resize: none;
	padding: 15px;
	border-radius:10px;
}

.review-list {
	margin-top: 20px;
	margin-bottom: 20px;
}

.review-list li {
	list-style: none;
	float: left;
	margin-left: 20px;
}

.reviews {
	margin-top: 20px;
	border: 1px solid #e6e6eb;
	padding: 15px
}

.reviews span {
	font-size: 18px;
	font-weight: 600;
}

.dates {
	padding-top: 10px;
	font-size: 16px;
}

.content {
	padding-top: 20px;
	font-size: 15px;
}

.footer {
	padding-top: 50px;
	height: 200px;
	z-index: 10;
	background-color: #ffF;
}

.footer address {
	text-align: right;
}


#myModal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

#myModal .modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 600px;
}

#myModal .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#myModal .close:hover, #myModal .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index:9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
}

.modal::after {
  content: "";
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto 0;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 700px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.my-button{
        border: 1px solid #fff !important;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
